<div class="container mb-4">
  <div class="row">
      <div class="col-12">
          <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th scope="col"> </th>
                          <th scope="col">Product</th>
                          <th scope="col">Available</th>
                          <th scope="col" class="text-center">Quantity</th>
                          <th scope="col" class="text-right">Price</th>
                          <th> </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let cart of cartData; let i = index">
                          <td><img src="{{ image_ref }}{{cart['image']}}" style="width:50px;height:50px;"/> </td>
                          <td>{{ cart['name'] }}</td>
                          <td>In stock</td>
                          <td><input class="form-control" type="text" value="1" /></td>
                          <td class="text-right">Rs.{{ cart['price'] }}</td>
                          <td class="text-right"><button class="btn btn-sm btn-danger" [disabled]="deleteFlag"><i class="fa fa-trash">Delete</i> </button> </td>
                      </tr>
                     
                     
                      <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><strong>Total</strong></td>
                          <td class="text-right"><strong>Rs.{{ total }}</strong></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      <div class="col mb-2">
          <div class="row">
              <div class="col-sm-12  col-md-6">
                  <button class="btn btn-block btn-light" (click) ="backToProduct()" >Continue Shopping</button>
              </div>
              <div class="col-sm-12 col-md-6 text-right">
                  <button class="btn btn-lg btn-block btn-success text-uppercase" (click) ="navigateToCheckout()">Checkout</button>
              </div>
          </div>
      </div>
  </div>
</div>